@charset "UTF-8";

* {
  box-sizing: border-box;
}

body, div, p, h1, h2, h3, h4, h5 img {
  margin: 0;
  padding: 0;
}

body {
  background-color: #330003;
  color: #fff;
  text-align: center;
  font-family:  Helvetica , "Yu mincho", "YuMincho", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

a:hover {
  color: #c69c6d !important;
}

ul {
  list-style: none;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

.container {
  max-width: 1440px;
  padding: 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}


/*header*/
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.nav-link, .navbar-nav,.navbar-dark{
  color: #c8b48c !important;
  background-color: #330003;  
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  position: relative; 
}

.nav-link::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #c8b48c;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.nav-link:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.navbar-brand {
  padding: 0;
  margin-left: 100px;
}

.tel{
	background: #791216;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	margin-left: 30px;
	padding: 4px 23px;
	text-align:center;
	width: 180px;
  height: 80px;
  line-height: 24px;
  text-decoration: none;
}

.tel a:visited {
  text-decoration: none !important;
  color: white !important;
}

.tel a:hover {
  text-decoration: none;
  color: white !important;
}

.tel a:active {
  text-decoration: none;
  color: white ;
}

.tel a:focus {
  text-decoration: none ;
  color: white !important;
}

.number {
  font-size: 20px !important;
}
.sub {
  display: block;
  font-size: 12px;
}

.logo {
  width: 142px;
  height: 80px;
}
.logo img {
  width: 100%;
}



/*TOP*/
.menu-top {
  height: 500px;
  background-image: url(../images/stake.jpg);
  background-size: cover;
  background-position: 50%;
}

.menu-top h1{
  position: relative;
  top: 50%;
  font-size: 57px;
}

/* Jump Buttons */
.menu-jump-btns {
  width: 50%;
  position: relative;
  top: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu-btn {
  padding: 20px;
  transition: .4s;
}

.menu-btn:hover {
  text-decoration: none;
}

/* menu */
.menu-contents {
  text-align: center;
  padding: 50px 100px;
}

.kinitsu-menu, .ippin-menu, .reisei-menu,
.karamen-menu, .rice-menu, .nabe-menu,
.dessert-menu, .set-menu {
  padding: 50px 0;
}

.title h1 {
  color: #c8b48c;
  padding-bottom: 10px;
  margin: 30px;
}

.ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-content span {
  color: red;
}

.menu-img {
  width: 50%;
}

.menu-content {
  width: 50%;
  padding: 20px 45px;
}

.menu-content p {
  padding: 10px 0 20px;
  line-height: 26px;
  text-align: left;
}

.menu-content h3, h4 {
  color: #c8b48c;
}

/* menu-cards */
.card {
  width: 300px;
  padding: 20px;
  background-color: #330003;
  border: none;
}

.card p {
  padding: 10px 0;
  line-height: 26px;
}


.card h3 {
  color: #c8b48c;
  padding: 20px 10px;
  font-size: 18px;
  border-bottom: 1px dotted;
}

.price {
  color: #ffe3e3;
  font-size: 18px;
  padding-top: 10px;
}

.notice {
  font-size: 13px;
}

.bottom-main-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.smenu {
  display: flex;
  flex-direction: column;
}

.menu-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.kinitsu-menu p{
  font-size: 22px;
}



/*Fotter*/
footer {
  padding: 50px 20px 10px;
  height: 250px;
  position: relative;
  top: 50px;
  background-color: #000B33;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* tel-btn*/
.btn-tel {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.btn-tel a {
  border: 2px solid #c8b48c;
  color: #c8b48c;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 50px;
  padding: 5px 50px;
}

.btn-tel a ::before {
  font-size: 16px;
  content: "お問い合わせ・ご予約　";
}

.btn-tel a:hover {
  text-decoration: none;
  color: white !important;
  background: #c8b48c;
  transition: .5s ease-in-out;
}

.other-sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright {
  background-color: #000B33;
  font-size: 15px;
  text-align: center;
}

@media(min-width: 320px) {
  .navbar-brand {
    margin-left: 0px;
  }

  .menu-contents {
    padding: 10px;
  }

  .menu-content, .menu-img {
    width: 100%;
  }

  .menu-content h3,
  .menu-content h4 {
    font-size: 1.25rem;
  }

  .ranking {
    flex-direction: column-reverse;
    padding: 0;
  }

  .title h1 {
    font-size: 1.5rem;
  }

  footer {
    height: 350px;
    padding: 20px 20px 10px;
  }

  .adress {
    padding: 20px 0;
  }

  .footer__container {
    flex-direction: column;
  }

  .sns {
    padding: 20px;
  }

  .btn-tel {
    padding: 25px 0;
  }

  .btn-tel a {
    font-size: 13px;
    padding: 11px 9px;
  }
}

@media(min-width: 768px) {
  .navbar-brand {
    margin-left: -1 !important;
  }

  .nav-link {
    font-size: 15px;
  }

  .title h1 {
    font-size: 2.5rem;
  }

  .ranking {
    flex-direction: row;
  }

  .menu-contents {
    padding: 40px;
  }

  .menu-content p {
    font-size: 13px;
  }

  .btn-tel a {
    font-size: 16px;
    padding: 11px 20px;
  }

  footer {
    height: 250px; 
  }

  .footer__container {
    flex-direction: row;
  }
}

@media(min-width: 1024px) {
.container {
  max-width: 1440px;
  padding: 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}


/*header*/
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.nav-link, .navbar-nav,.navbar-dark{
  color: #c8b48c !important;
  background-color: #330003;  
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  position: relative;
  font-size: 16px;
}

.nav-link::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #c8b48c;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.nav-link:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.navbar-brand {
  padding: 0;
  margin-left: 100px;
}

.tel{
	background: #791216;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	margin-left: 30px;
	padding: 4px 23px;
	text-align:center;
	width: 180px;
  height: 80px;
  line-height: 24px;
  text-decoration: none;
}

.tel a:visited {
  text-decoration: none !important;
  color: white !important;
}

.tel a:hover {
  text-decoration: none;
  color: white !important;
}

.tel a:active {
  text-decoration: none;
  color: white ;
}

.tel a:focus {
  text-decoration: none ;
  color: white !important;
}

.number {
  font-size: 20px !important;
}
.sub {
  display: block;
  font-size: 12px;
}

.logo {
  width: 142px;
  height: 80px;
}
.logo img {
  width: 100%;
}



/*TOP*/
.menu-top {
  height: 500px;
  background-image: url(../images/stake.jpg);
  background-size: cover;
  background-position: 50%;
}

.menu-top h1{
  position: relative;
  top: 50%;
  font-size: 57px;
}

/* Jump Buttons */
.menu-jump-btns {
  width: 50%;
  position: relative;
  top: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.menu-btn {
  padding: 20px;
  transition: .4s;
}

.menu-btn:hover {
  text-decoration: none;
}

/* menu */
.menu-contents {
  text-align: center;
  padding: 50px 100px;
}

.kinitsu-menu, .ippin-menu, .reisei-menu,
.karamen-menu, .rice-menu, .nabe-menu,
.dessert-menu, .set-menu {
  padding: 50px 0;
}

.title h1 {
  color: #c8b48c;
  padding-bottom: 10px;
  margin: 30px;
}

.ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-content span {
  color: red;
}

.menu-img {
  width: 50%;
}

.menu-content {
  width: 50%;
  padding: 20px 45px;
}

.menu-content p {
  padding: 10px 0 20px;
  line-height: 26px;
  text-align: left;
  font-size: 18px;
}

.menu-content h3, h4 {
  color: #c8b48c;
}

/* menu-cards */
.card {
  width: 300px;
  padding: 20px;
  background-color: #330003;
  border: none;
}

.card p {
  padding: 10px 0;
  line-height: 26px;
}


.card h3 {
  color: #c8b48c;
  padding: 20px 10px;
  font-size: 18px;
  border-bottom: 1px dotted;
}

.price {
  color: #ffe3e3;
  font-size: 18px;
  padding-top: 10px;
}

.notice {
  font-size: 13px;
}

.bottom-main-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.smenu {
  display: flex;
  flex-direction: column;
}

.menu-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.kinitsu-menu p{
  font-size: 22px;
}



/*Fotter*/
footer {
  padding: 50px 20px 10px;
  height: 250px;
  position: relative;
  top: 50px;
  background-color: #000B33;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* tel-btn*/
.btn-tel {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.btn-tel a {
  border: 2px solid #c8b48c;
  color: #c8b48c;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 50px;
  padding: 5px 50px;
}

.btn-tel a ::before {
  font-size: 16px;
  content: "お問い合わせ・ご予約　";
}

.btn-tel a:hover {
  text-decoration: none;
  color: white !important;
  background: #c8b48c;
  transition: .5s ease-in-out;
}

.other-sns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright {
  background-color: #000B33;
  font-size: 15px;
  text-align: center;
}
}
